*{
  font-family: 'Poppins';
}
body{
  background-color: #18181b;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: #e4e4e4;
  border-radius: 10px;
}