*{
  font-family: 'Poppins'
}


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: #6556cd;
  border-radius: 10px;
}